<!DOCTYPE html>
<html>
<head>
	<title> Dashboard </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<style>
		body {
		  	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;	
  		}
  		.bgList{
			background-color: white
		}
		.block{
			height:400px;
		}
		#mytable tr:hover {
    		cursor: pointer;
		}
		.header {
			letter-spacing: 1px;
			height: 100px;
		}
		.bgHeader{
			background-image: linear-gradient(to left, rgb(218, 210, 153), rgb(176, 218, 185));	
		}
		.button{
			position: absolute;
			top:1%;
			left: 1%;
			z-index: 1000;
			font-weight: bold;
			letter-spacing: 1px;
			padding:10px 20px;
			border-radius: 10px;
			outline: none;
			text-decoration: none;
			box-shadow: 0px 3px 8px #5f2bla;
		}
		.notvisible{
			border:0;
		}

		@media only screen and (max-width: 1000px) {
			.block{
				height:auto;
			}
		}
		</style>
	</head>
	<body>
		<div class='container-fluid'>
			<div class='row bg header bgHeader'>
				<div class='col-md-12 text-center align-self-center' >
			 		<h2>Enlistd {{header}} To Verify <span class='invisible' id='workingsetsID'> {{ workingSetid }} </span></h2>
				</div>
			</div>
			<div class='container mt-md-4 bgList'>	
				<div class='row'>
					<div class='col-md-12 block  table-hover' border='1'>
						{{#articleList articleLists}}{{ articleLists }}{{/articleList}}
					</div>
				</div>
			</div>
			<div class='container mt-md-4'>
				<nav aria-label="Page navigation example">
  					<ul class="pagination">
    					{{#pagingControls articleLists}}{{ articleLists }}{{/pagingControls}}
  					</ul>
				</nav>
			</div>
		</div>
				<!-- Button trigger modal -->
</div>
	<a class=' btn btn-info button' href='/'> Back To Home </a>
	</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
//var currentrow=	$(this).eq(0).html();
 $(`#mytable tr`).on("click", function() {
 	var currentrow  = $(this).eq(0).html();
 	var data = $(this)[0].id;
 	var id = $(this).first(0).attr("id");   	
   	var workingSetId = $('#workingsetsID').first(0).text();
   	if(id !== undefined){
   		window.location = "/articles/" + $.trim(workingSetId)  + '?data-set=' + data;	
   	}
});
(function($){
 	$('.feedbacknotCompleted').hide();
 })(jQuery)
$('.page-item').on("click", function() {
 	var currentrow = $(this).eq(0).html();
 	var data = $(this).first(0).text();
 	var workingSetId = $('#workingsetsID').first(0).text();
   	//ajaxCallForPagination(workingSetId, data)
   	window.location = "/workingsets/" + $.trim(workingSetId) + "?page-no="+data;
});
</script>
