<!DOCTYPE html>
<html>
	<head>
		<title> Dashboard </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" src="./views/article.css">
		<style>
			.block{
				height:500px;
			}
			#mytable tr:hover {
    			cursor: pointer;
			}
			.header {
		 		font-size: 30px;
  				font-weight: 200;
			}
		</style>
	</head>
	<body>
			
	</body>
</html>